@media all and (max-width: 1200px) /* Propriétés CSS qui s'appliqueront si la largeur de la fenêtre ne dépasse pas 1200 px */
{
	body #bloc_page
	{
		width: auto;
	}
	
	nav
	{
		width: auto;
	}
	
	#liseré
	{
		display: none;
	}
	
	article p
	{
		width: 98%;
	}
}

@media all and (max-device-width: 480px) /* Propriétés CCS appliquées pour les mobiles */
{
	body #bloc_page
	{
		width: auto;
	}
	
	nav
	{
		width: auto;
	}
	
	#liseré
	{
		display: none;
	}
	
	article p
	{
		width: 98%;
	}
	
	#ressources
    {
        padding-left: 30px;
    }
}

@font-face 
{
    font-family: 'candreva';
    src: url('police/candreva.eot');
    src: url('police/candreva.eot?#iefix') format('embedded-opentype'),
         url('police/candreva.woff') format('woff'),
		 url('polices/candreva.ttf') format('truetype'),
         url('police/candreva.svg#candreva') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'bigbang';
    src: url('police/bigbang.eot');
    src: url('police/bigbang.eot?#iefix') format('embedded-opentype'),
         url('police/bigbang.woff') format('woff'),
		 url('polices/bigbang.ttf') format('truetype'),
         url('police/bigbang.svg#bigbang') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
	font-family: 'trashhand';
	src: url('police/trashhand.eot');
    src: url('police/trashhand.eot?#iefix') format('embedded-opentype'),
         url('police/trashhand.woff') format('woff'),
		 url('polices/trashhand.ttf') format('truetype'),
         url('police/trashhand.svg#trashhand') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	background: url('image/fond.jpg') fixed;
}

#bloc_page
{
	width: 1200px;
	margin: auto;
}

header /* Haut de la page */
{
	border: 5px black groove;
	text-align: center;
}

h1
{
	font-family: candreva;
	font-size: 40px;
}

h1 a
{
    text-decoration: none;
    color: #181818;
}

h1 a:hover
{
    color: red;
	font-weight: bold;
}

header img
{
	float: right;
	margin-right: 20px;
	border: 2px black solid;
}

header p
{
	font-weight: bold;
	font-size: 20px;
}

nav /* Liens de navigation */
{
	padding-top: 20px;
}

nav li
{
	border: 3px black solid;
	border-radius: 10px;
	margin-right: 50px;
}

nav ul
{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

nav a
{
    font-family: trashhand;
	text-transform: uppercase;
	font-size: 32px;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: red;
	font-weight: bold;
}

#composition /* Présentation de l'auteur */
{
	display: flex;
	margin-top: 20px;
}

#liseré
{ 
    width: 50%;
	margin-top: 20px;
    height: 2702px;
    background-image: url('image/liseré.jpg');
    border-radius: 10px;
}

article
{
	margin-left : 20px;
}

article p
{
	text-align: justify;
	margin-top: 0px;
	font-family: Arial, Verdana, sans-serif;
}

h2
{
	font-family: bigbang;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 0px;
	color: #C54612;
}

footer /* Bas de la page */
{
	position: relative;
    left: 0px;
	bottom: 0px;
	display : flex;
	justify-content: space-between;
	margin-top: 25px;
	padding-top: 10px;
	border: 5px black groove;
}

footer ul
{
	list-style-type: none;
	padding-left: 0px;
	list-style-image: url('image/target.png');
}

h3
{
	font-family: bigbang;
	font-size: 20px;
	text-transform: uppercase;
}

#liens
{
	padding-left: 40px;
}

#liens li
{
	text-transform: uppercase;
}

#liens a, #ressources a
{
    font-size: 17px;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

#liens a:hover, #ressources a:hover
{
	text-decoration: underline;
}

#légale
{
	padding-right: 40px;
}